---
---

/*************/
/* NORMALIZE */
/*************/

html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:0.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace, monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace, monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type="button"],[type="reset"],[type="submit"],button{-webkit-appearance:button}[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

/*************/
/* GLOBAL */
/*************/

html {
	height: 100%;
	width: 100%;
}

body {
	background-image: url('https://mesnil.co/assets/img/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
	background-color: #fafafa;
	color: #fafafa;
	font-family: sans-serif;
	font-size: 2.5vw;
	height: 100%;
	text-align: center;
	width: 100%;
}

h1 {
	color: #212121;
	font-size: 2.5em;
}

h2 {
	color: #414141;
	font-size: 1.5em;
}

p {
	color: #616161;
	font-size: 1ex;
}

/*************/
/* HEADER */
/*************/
header{
	height: calc(100% - 170px);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

header img {
	width: 100%;
}

header h1 {
  margin: 0;
}

/*************/
/* MAIN */
/*************/

main {
	width: 100%;
	position: fixed;
	bottom: 20px;
}

main .radio {
	background-color: #fafafa;
	border: 0;
	height: 90px;
  margin: 25px 0;
  padding: 10px;
  width: calc(100% - 400px);
  border-radius: 10px;
	box-shadow: 0 0 4px black;
}

/*************/
/* FOOTER */
/*************/

footer {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	position: fixed;
	top: 18%;
	right: 1%;
}

footer .social img {
  background-color: #fafafa;
	background-color: rgba(255,255,255, .9);
  border-radius: 10px;
	box-shadow: 0 0 10px black;
  height: 40px;
	width: 40px;
  padding: 5px;
  margin: 5px;
}

/*************/
/* MEDIA */
/*************/

@media screen and (max-width: 1200px){
	header img {
		width: 50%;
	}
}

@media screen and (max-width: 800px) {
	main{
		bottom: 50px;
	}

	main .radio{
		width: 95%;
	}

	footer {
		width: 100%;
		flex-direction: row;
		justify-content: center;
		position: fixed;
		bottom: 0;
	}

	footer .social img{
		height: 30px;
		width: 30px;
	}
}

@media screen and (max-width: 500px) {
}
/* vim: set tabstop=2 softtabstop=2 shiftwidth=2 expandtab smarttab: */
