<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="assets/img/favicon.svg">
  </head>
  <body>
    <header>
      <img tile="Association Mesnil" alt="Association Mesnil background" src="assets/img/mesnil-background.jpg">
    <header>
    <main id="content" class="main-content" role="main">
      {{ content }}
      <iframe class="radio" src="https://radio.mesnil.co/public/mesnilradio/embed" frameborder="0" allowtransparency="true"></iframe>
    </main>
    <footer>
      <span class="social"><a href="mailto:contact at this domain"><img src="assets/img/logo-mail.svg"></a></span>
      <span class="social"><a href="https://www.facebook.com/mesnil75020"><img src="assets/img/logo-facebook.svg"></a></span>
      <span class="social"><a href="#"><img src="assets/img/logo-github.svg"></a></span>
      <span class="social"><a href="#"><img src="assets/img/logo-radio.svg"></a></span>
      <span class="social"><a href="#"><img src="assets/img/logo-instagram.svg"></a></span>
    </footer>
  </body>
</html>

<!-- vim: set tabstop=2 softtabstop=2 shiftwidth=2 expandtab smarttab: -->
